{
    "workbench.colorTheme": "Adwaita Light & colorful status bar",
    "editor.fontFamily": "'FiraCode Nerd Font','Droid Sans Mono', 'monospace', monospace",
    "window.titleBarStyle": "custom",
    "window.commandCenter": true,
    "window.autoDetectColorScheme": true,
    "workbench.preferredDarkColorTheme": "Adwaita Dark",
    "workbench.preferredLightColorTheme": "Adwaita Light",
    "workbench.productIconTheme": "adwaita",
    "editor.renderLineHighlight": "none",
    "workbench.iconTheme": "material-icon-theme",
    "workbench.tree.indent": 12
}