{
    "workbench.colorTheme": "Adwaita Light & default syntax highlighting",
    "editor.fontFamily": "'JetBrainsMono Nerd Font','Droid Sans Mono', 'monospace', monospace",
    "window.titleBarStyle": "custom",
    "window.commandCenter": true,
    "window.autoDetectColorScheme": true,
    "workbench.preferredDarkColorTheme": "Adwaita Dark & default syntax highlighting",
    "workbench.preferredLightColorTheme": "Adwaita Light & default syntax highlighting",
    "workbench.productIconTheme": "adwaita",
    "editor.renderLineHighlight": "none",
    "workbench.iconTheme": "material-icon-theme",
    "workbench.tree.indent": 12,
    "terminal.integrated.defaultProfile.linux": "fish",
    "redhat.telemetry.enabled": false
}